# Node modules
node_modules/

# Angular build output
/dist/

# IDE / Editor specific files
.idea/
.vscode/

# Compiled JavaScript files
*.js
*.js.map

# Compiled CSS files
*.css

# Angular specific files
*.ngsummary.json
*.ngfactory.ts

# Temporary files
*.swp
*~

# Angular CLI configuration
.angular-cli.json
.angular-cli/

# Jest configuration
jest.config.js
