<div class="flex flex-col gap-4">
  <div class="flex justify-between items-center">
    <h2 class="font-bold text-xl">List</h2>
    <button
      class="btn btn-icon btn-rounded btn-primary"
      (click)="openSlidePanel()"
    >
      <i class="ri-add-line ri-lg"></i>
      Add Todo
    </button>
  </div>

  <div class="bg-white drop-shadow-lg">
    @for (item of todos; track $index) {<app-todo-card
      [todo]="item"
      (click)="openSlidePanel()"
    />}
  </div>
</div>

<app-slide-panel
  [headerText]="'Todo Details'"
  [isOpen]="isSlidePanelOpen"
  (onClose)="onCloseSlidePanel()"
>
  <form
    [formGroup]="todoForm"
    (ngSubmit)="onSubmit()"
    action=""
    autocomplete="off"
    novalidate
    class="flex flex-col gap-4"
  >
    <!-- title -->
    <div class="form-group">
      <label for="title" class="form-label">Title</label>
      <input
        type="text"
        class="form-control"
        placeholder="Title"
        [class]="{
          invalid:
            todoForm.get('title')?.hasError('required') &&
            todoForm.get('title')?.touched,
          valid: todoForm.get('title')?.valid
        }"
      />
      @if (todoForm.get('title')?.hasError('required') &&
      todoForm.get('title')?.touched) {
      <span class="form-error">Title is required.</span>
      }
    </div>

    <!-- description -->
    <div class="form-group">
      <label for="description" class="form-label">Description</label>
      <textarea
        name=""
        id=""
        rows="10"
        placeholder="Description"
        class="form-control"
        [class]="{
          invalid:
            todoForm.get('description')?.hasError('required') &&
            todoForm.get('description')?.touched,
          valid: todoForm.get('description')?.valid
        }"
      ></textarea>
      @if (todoForm.get('description')?.hasError('required') &&
      todoForm.get('description')?.touched) {
      <span class="form-error">Description is Required</span>
      }
    </div>

    <!-- status -->
    <div class="form-group">
      <label for="status" class="form-label">Status</label>
      <select
        name=""
        id=""
        class="form-select"
        [class]="{
          invalid:
            todoForm.get('status')?.hasError('required') &&
            todoForm.get('status')?.touched,
          valid: todoForm.get('status')?.valid
        }"
      >
        @for (item of todoStatus; track $index) {
        <option [value]="item">{{ item }}</option>
        }
      </select>
      @if (todoForm.get('status')?.hasError('required') &&
      todoForm.get('status')?.touched) {
      <span class="form-error">Status is required.</span>
      }
    </div>

    <!-- buttons -->
    <div class="flex gap-2">
      <button type="submit" class="btn btn-success">Submit</button>
      <button
        type="button"
        class="btn btn-secondary"
        (click)="onCloseSlidePanel()"
      >
        Cancel
      </button>
    </div>
  </form>
</app-slide-panel>
