<section
  class="flex flex-col w-full gap-4"
  [ngClass]="{ hidden: noTodoClass$ | async }"
>
  <ng-container *ngIf="visibleTodos$ | async as todos">
    <div
      *ngIf="todos.length > 0"
      class="flex w-full gap-1 items-center border bg-slate-50 rounded-lg ps-2"
    >
      <input
        type="checkbox"
        id="toggle-all"
        class="w-4 h-4 accent-blue-300"
        [checked]="isAllTodosSelected$ | async"
        (change)="toggleAllTodos($event)"
      />
      <label class="w-full text-sm p-1 pr-4 text-slate-500" for="toggle-all">{{
        markAllAsCompletedText
      }}</label>
    </div>
  </ng-container>

  <ul
    class="flex flex-col bg-white rounded-xl border border-slate-300 drop-shadow-lg overflow-hidden"
  >
    <app-todo
      *ngFor="let todo of visibleTodos$ | async"
      [todo]="todo"
      [isEditing]="editingId === todo.id"
      (setEditingId)="setEditingId($event)"
      class="odd:bg-white even:bg-slate-50 group"
    />
  </ul>
</section>
