<div class="flex flex-col gap-2 bg-white rounded-lg shadow-lg p-4">
  <h5 class="text-xl font-bold text-gray-900">Register</h5>
  <form
    action=""
    [formGroup]="registerForm"
    (ngSubmit)="onSubmit()"
    autocomplete="off"
    novalidate
    class="flex flex-col gap-3"
  >
    <div class="form-group">
      <label for="">Email Address</label>
      <input
        type="text"
        placeholder="Email Address"
        formControlName="email"
        class="form-control"
        [class]="{
          invalid:
            registerForm.get('email')?.hasError('required') &&
            registerForm.get('email')?.touched,
          valid: registerForm.get('email')?.valid
        }"
      />
      @if (registerForm.get('email')?.hasError('required') &&
      registerForm.get('email')?.touched) {
      <span class="form-error">Email Address is required.</span>
      }
    </div>

    <div class="form-group">
      <label for="">Password</label>
      <input
        type="password"
        placeholder="Password"
        formControlName="password"
        class="form-control"
        [class]="{
          invalid:
            registerForm.get('password')?.hasError('required') &&
            registerForm.get('password')?.touched,
          valid: registerForm.get('password')?.valid
        }"
      />

      @if (registerForm.get('password')?.hasError('required') &&
      registerForm.get('password')?.touched) {
      <span class="form-error">Password is required.</span>
      }
    </div>

    <div class="flex justify-between align-bottom">
      <button class="btn btn-primary w-fit">Submit</button>
      <a
        routerLink="/login"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        class="text-sm"
        >Login</a
      >
    </div>
  </form>
</div>
