<li [class]="{ editing: isEditingProps }" class="relative">
  <div class="flex justify-between px-3 items-center hover:bg-slate-100">
    <div class="flex items-center justify-center truncate">
      <input
        type="checkbox"
        class="w-5 h-5 text-blue-400"
        [checked]="todoProps.isCompleted"
        (change)="toggleTodo()"
      />
      <label
        class="p-2 text-lg truncate"
        [class]="todoProps.isCompleted ? 'line-through text-slate-300' : ''"
        (dblclick)="setTodoInEditMode()"
        >{{ todoProps.text }}</label
      >
    </div>
    <button
      class="select-none font-bold text-red-400 border bg-red-100 border-red-400 w-6 h-6 rounded hidden items-center justify-center group-hover:flex text-sm"
      (click)="removeTodo()"
    >
      <span class="ml-[1px] font-normal">X</span>
    </button>
  </div>

  <ng-container *ngIf="isEditingProps">
    <input
      class="absolute top-0 w-4/5 ps-8 m-2 text-lg rounded-lg text-wrap focus:outline-blue-300 focus:outline-2 outline-1 outline outline-slate-200 z-10 textInput"
      #textInput
      [value]="editingText"
      (keyup)="changeText($event)"
      (keyup.enter)="changeTodo()"
      (clickOutside)="changeTodo()"
  /></ng-container>
</li>
